body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", serif;
}
